@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#map {
  width: 100%;
  height: 500px;
}

.header {
  width: 100%;
  background: #000000;
  color: #000000;
}

.header a {
  color: #000000 !important;
}

.header-container {
  padding: 5px 20px;
}

.header .logo img {
  width: 250px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-nav a {
  margin: 0 30px;
}

.banner {
  width: 100%;
  min-height: calc(100vh - 76px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../../img/index.jfif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-text {
  height: 100%;
  padding: 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.banner-text h1 {
  font-size: 3.5em;
}

.banner-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: 100px;
}

.banner-bg img {
  max-width: 100%;
  height: auto;
}

.banner #banner-text {
  font-family: 'Oswald', sans-serif;
  padding: 50px 0;
  font-size: 2.5em;
}

.banner-box {
  max-width: 630px;
}

.banner-box img {
  max-width: 100%;
  height: auto;
}

.banner .benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 50px 0;
}

.banner-benefit {
  color: #ffffff;
  margin: 0 30px;
}

.banner .count {
  color: #FFC107;
}

.about-us {
  min-height: 100vh;
  padding: 30px 0;
  background: #e7e7e7;
  font-family: 'Oswald', sans-serif;
}

.about-us h2 {
  font-size: 2.3em;
  color: #004b7e;
  text-align: center;
}

.about-us .main-info {
  text-align: center;
  margin-top: 20px;
  font-size: 1.4em;
  line-height: 40px;
  color: #000000;
}

.about-us-img {
  max-width: 650px;
}

.about-us-img img {
  max-width: 100%;
  height: auto;
}

.about-us .benefit-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  text-align: center;
  cursor: pointer;
  font-size: 1.2em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.about-us .benefit-item:hover {
  color: #005cb3;
}

.about-us .benefit-item:hover svg {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #005cb3;
}

.about-us .benefit-item div {
  margin: 40px auto;
}

.about-us .benefit-text {
  max-width: 700px;
}

@media screen and (max-width: 1100px) {
  .banner-bg {
    display: none;
  }
}

.licenses {
  border-top: 1px solid dashed #2b292a;
  padding: 30px 0;
  min-height: 100vh;
  background: #ffffff;
}

.licenses-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.licenses-item {
  max-width: 240px;
  position: relative;
  z-index: 1;
  margin: 0 20px;
  -webkit-box-shadow: 0px 5px 9px 0px #5e5e5e;
          box-shadow: 0px 5px 9px 0px #5e5e5e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.licenses-item img {
  max-width: 100%;
  height: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.licenses-item img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  z-index: 2;
}

.licenses-item:nth-child(1), .licenses-item:nth-child(2), .licenses-item:nth-child(3) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.services {
  min-height: 100vh;
  padding: 30px 0;
}

.services h2 {
  padding: 30px 0;
}

.services table i {
  color: #636363;
  font-weight: 300;
}

.services table tr {
  overflow-x: auto;
}

.services table tr:nth-child(6) td {
  text-align: center;
}

.services p {
  background: #2b292a;
  padding: 10px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services p span {
  color: #fce300;
  margin-right: 10px;
}

.contacts {
  color: #ffffff;
  background: #000000;
  padding: 30px 0;
  min-height: 100vh;
  text-align: center;
}

.contacts h2 {
  font-size: 3.5em;
}

.contacts-container {
  width: 100%;
  height: 100%;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5em;
}

.contacts .contact-numbers {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts .contact-numbers div {
  margin: 30px;
}

.contacts .map-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.contacts button {
  border: none;
  padding: 15px 40px;
  border-radius: 16px;
  background: #fce300;
  font-size: 2em;
  margin: 50px 0;
}

.contacts button a {
  color: #000000;
}

.feedback {
  padding: 20px 0;
  min-height: 70vh;
  background-color: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback h2 {
  text-align: center;
}

.feedback label {
  text-align: center;
}

.feedback input, .feedback textarea {
  margin: 30px 0;
  padding: 10px;
}

.feedback textarea {
  min-height: 200px;
}

.feedback input[name="submit"] {
  background: #ffffff;
  border: 2px solid #ffffff;
  width: 30%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.feedback input[name="submit"]:hover {
  background: #FFC107;
}

.feedback .form-wrapper {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 50px;
  text-align: center;
  width: 70%;
}

footer {
  width: 100%;
  border-top: 1px solid #ffffff;
  min-height: 150px;
  background: #000000;
  color: #ffffff;
  padding: 30px;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .logo {
  max-width: 150px;
}

footer .logo img {
  max-width: 100%;
  height: auto;
}

footer p {
  font-size: 1.6em;
}

footer a {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

footer a:hover {
  color: #FFC107;
}

footer .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .contact nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=main.css.map */